body{
  margin: 0px; 
  padding: 0px;
  display: flex;
  align-items: center; 
  justify-content: center;   
  height: 100vh;
  width: 100vw; 
} 

.maindiv{
   width: fit-content; 
   height: fit-content; 
  /* padding: 10px; */
  /* border: 1px solid red; */
  /* border: 3px solid red; */
  box-shadow: 1px 1px 20px 5px rgb(178, 160, 160); 
  display: grid;
  grid-template-columns: 1fr 1fr; 
  width: 600px;
}
.leftside{
  background-color: grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 30px 10px;
}

.button{
  background-color: white;
  border: none;
  height: fit-content;
  width: fit-content;
  padding: 10px 30px;
  color: white;
  border-radius: 20px;
  box-shadow: 1px 1px 10px rgb(241, 236, 236);
} 
.description{
  text-align: center;
  color: white;
  width: 90%;
  margin: 0px auto;

} 
.icons svg{
  height: 100px;
  width: 100px;
  color: black;
}
.rightside{
  /* background-color: blueviolet; */
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px 30px;
  /* padding: 30px 30px;  */
  justify-content: center; 

}
.Signup{
  font-size: 32px;
  font-weight: 800;
  text-transform: capitalize;
 justify-content: center;

}
.submit{
  background-color: red;
  border: none;
  height: fit-content;
  width: fit-content;
  padding: 10px 30px;
  color:white;
  border-radius: 20px;
  box-shadow: 1px 1px 10px rgb(113, 150, 206);
} 
.button{
  background-color: white;
  border: none;
  height: fit-content;
  width: fit-content;
  padding: 10px 30px;
  color: black;
  border-radius: 10px;
  box-shadow: 1px 1px 10px grey;
  font-weight: 600;
} 
.input1{
  display: flex;
  flex-direction: column;
  gap: 30px;

}
.input1 input{ 
  outline: none;
  padding: 10px 6px;
}

.input1 input::placeholder{
  color: light rgb(5, 3, 3);
} 